*{
    margin: 0rem;
    padding: 0rem;
    
}
html{
    font-size: 100%;
}
body{
    margin: 0rem;
    padding: 0rem;
   
}
a{
    text-decoration: none;
    color: black;
}
.nevbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1.2rem;
    
    background-color: white;
    opacity: 95%;
    position: sticky;
    top: 0rem;
    
   
}
.hamburger{
    
    height: 3.37rem;
    width: 3.37rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#logo{
    display: flex;
    align-items: center;
    margin-right: 4rem;
    
    
}
#logo img{
    height: 2.5rem;
    
    width: auto;
    
}
#search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-box input{
    height: 3rem;
    width: 35rem;
}
#search-text{
    font-size: 1.3rem;
    
}

.search-btn{
   
    height: 3rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242,242,242);
    
}

#search-btn :hover{
    
    height: 3rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 204, 204);
    
}
#search-voice{
    border-radius: 100%;
    height: 3rem;
    width: 3.37rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242,242,242);
    
}
#notification{
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242,242,242);
    
}
#profile{
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242,242,242);
    
}
#wedge{
    display: flex;
    align-items: center;
}
#creator{
    display: flex;
    align-items: center;
}
.container{
    
    
   
}
.sidebar{
    
    width: 15rem;
    margin-left: .1rem;
    position: fixed;
    height: 100%;
    overflow: scroll;
    
    
    
}
.sidebar a{
    font-size: 1.2rem;
}
.sidebarsameclass{
    display: flex;
    margin: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    
}
.sidebarsameclass img{
    
    height: 1.5rem;
    width: 1.5rem;
    
}
.sidebarimgsameclass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    
}
.sidebar h3{
    display: block;
    text-align: center;
}
.subscrivedchanellist img{
    border-radius: 50%;
}
.small-sidebar{
    overflow: auto;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.small-sidebar .sidebarsameclass{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
}
.small-sidebar .sidebarimgsameclass{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    
}


.small-sidebar h3{
    display: none;
}
.small-sidebar .main{
    margin-left: 6rem;
    
}
.small-sidebar .hideclass{
    display: none;
}
.small-sidebar .subscrivedchanellist{
    display: none;
}
.small-sidebar hr{
    display: none;
}
.small-sidebar img{
    padding-left: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
}
.small-sidebar p{
    font-size: 1rem;
}



.main{
    margin-left: 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    row-gap: 5rem;
    

}
.large-main{
    margin-left: 7.3rem;
    
}
.thumnail img{
    height: 15rem;
    width: 25rem;
}
.chanellogo img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.chanellogoandname{
    display: flex;
    
}
.chanelnamenadviewsandtime{
    height: 6rem;
     
    
}
.viewsandtime{
    display: flex;
    
    
    
}
.chanelname{
    display: flex;
    justify-content: center;
    
    
}

.notfound-main{
    display: none;
}

@media(max-width:998px){
    html{
        font-size:55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}
@media(max-width:558px){
    html{
        font-size: 35%;
    }
}
@media(max-width:358px){
    html{
        font-size: 25%;
    }
}
@media(max-width:258px){
    html{
        font-size: 15%;
    }
}
@media(max-width:158px){
    html{
        font-size: 10%;
    }
}
@media(max-width:100px){
    html{
        font-size: 7%;
    }
}
@media(max-width:75px){
    html{
        font-size: 5%;
    }
}
